@import '../../node_modules/normalize.css/normalize.css';

$textColor: #444;
$aokayGreen: #0EBF61;

// TODO: MAKE FONTS DOWNLOADABLE!!!
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), url(/opensans.woff) format('woff');
}

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;
    src: local('Inconsolata'), url(/inconsolata.woff) format('woff');
}

@mixin clearfix {
    clear: both;
    content: "";
    display: table;
}

body {
    font-family: Open Sans, sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inconsolata, monospace;
}

.page-header {
    text-align: center;
    width: 70%;
    max-width: 1000px;
    margin: 10px auto;
}

.page-title {
    margin: 0;
}

.main-content {
    margin: auto;
    max-width: 1300px;
    width: 80%;
    max-width: 800px;
}

.modal-trigger {
    text-decoration: underline;
    color: inherit;

    &:hover {
        cursor: pointer;
    }
}

.btn {
    border-radius: 0;
    border: 0px solid transparent;
    padding: 5px 10px;
    font-weight: bold;
    background-color: #ddd;
    color: lighten($textColor, 10%);
    &.primary {
        color: white;
        background-color: $aokayGreen;
    }
    &:active {
        box-shadow: 0px 0px 5px 0 #222 inset;
    }
}

.modal {
    position: fixed;
    background-color: white;
    opacity: 0;
    transition: opacity .3s;
    z-index: -1;

    .modal-buttons {
        margin-top: 4px;
        text-align: right;

        .btn {
            margin-right: 6px;
            &:last-of-type {
                margin: 0;
            }
        }
    }

    .modal-wrap {
        transform-style: preserve-3d;
        padding: 15px 15px 10px 15px;
        box-shadow: 0 2px 8px 2px #888;
        border: 1px solid gray;
    }

    &.floating {
        z-index: 42;
    }

    &.visible {
        opacity: 1;
    }
}

.modal-backsplash {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    background-color: white;

    &.visible {
        z-index: 41;
        opacity: 0.7;
    }
}
