@import 'base';

$bodyPaddingSides: 20px;
$bodyPaddingTop: 10px;
$tileColor: white;

body {
    min-height: calc(100% - #{2*$bodyPaddingTop});
    padding: $bodyPaddingTop $bodyPaddingSides;
    position: absolute;
    width: calc(100% - #{2*$bodyPaddingSides});
    background: url(/light_wool.png);
}

.next-class {
    margin: 0;
}

.page-footer {
    bottom: 3px;
    font-size: 90%;
    position: absolute;
    text-align: center;
    width: calc(100% - #{2*$bodyPaddingSides};
    color: gray;

    a {
        color: gray !important;
    }
}

.clip {
    overflow: hidden;
}

.tile-groups {
    list-style-type: none;
    padding: 0;
    margin: 20px 0 25px 0;;
}
.tile-group {
    margin: 20px 0;

    &:last-of-type {
        border-bottom: 0;
        margin-bottom: 0;
    }
    .group-name {
        margin: 10px 0;;
    }

    &.sunken {
        opacity: .5;
        position: relative;
        z-index: -1;
    }
}

$tileSize: 150px;
$tileBorderWidth: 2px;
.tiles {
    @include clearfix;
    list-style-type: none;
    padding: 0;
    text-align: center;
    margin: auto;
}
%tile-base {
    float: left;
    width: $tileSize;
    height: $tileSize;
    margin: 5px 10px;
}
%tile-side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.dummytile {
    @extend %tile-base;
}
.tile {
    @extend %tile-base;
    list-style-type: none;
    transform-style: preserve-3d;
    transition: transform .6s;
    background-color: $tileColor;
    top: 0;
    left: 0;
    opacity: 1;

    $bsparams: 0 1px 9px -1px gray;
    .wrap {
        transform-style: preserve-3d;
        width: 100%;
        height: 100%;
        border: $tileBorderWidth solid gray;
        transition: transform .2s, box-shadow .2s;
        box-shadow: 0 0 0 0 gray;
    }

    .title {
        margin: 20px 0 0 0;
    }


    .front {
        @extend %tile-side;
        cursor: pointer;
        transform: rotate3d(0, 1, 0, 0);

        background: #ffffff;
        background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5));
        background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
        background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
        background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
        background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
    }

    .back {
        @extend %tile-side;
        transform: rotate3d(0, 1, 0, 180deg);
        overflow: hidden;

        .content-window {
            width: 100%;
            height: 100%;
            position: absolute;

            .content {
                transform-origin: top left;
                overflow: hidden;
                border: 0 solid transparent;
            }
        }
    }

    &.backgrounded {
        transform: translate3d(0, 0, -4242px);
    }

    &.expanded {
        width: 100%;
        height:100%;
        $tTime: 0.8s;
        transition: transform $tTime, width $tTime, height $tTime;

        .content {
            transform: scale(1, 1) !important;
            transition: transform $tTime;
        }

        .wrap {
            box-shadow: 0 0 0 0 gray !important;
        }
    }

    &.detached {
        transform: translate3d(0, 0, 424242);
        transform-style: preserve-3d;
        position: absolute;
        z-index: 20;
        .wrap {
            box-shadow: $bsparams;
        }
    }

    &.flipped {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    &.closing {
        transition: all 0.8s;
        .content {
            transition: transform 0.8s;
        }
    }
    &.notransition {
        transition: all 0s;
    }

    &.fixed {
        position: fixed;
        top: 0 !important;
        left: 0 !important;
        width: 100%;
        height: 100%;
        transform: rotate3d(0,1,0,180deg) !important;
        margin: 0;
        .wrap {
            border: 1px solid white; // making this 0 causes chrome to choke
        }

        .content {
            width: 100% !important;
            height: 100% !important;
        }
    }

    &:hover {
        .wrap {
            box-shadow: $bsparams;
        }
    }
}

.letterboxes {
    white-space: nowrap;

    &:hover {
        cursor: pointer;
    }
}
%letterbox-side {
    position: absolute;
    backface-visibility: hidden;
}
.letterbox {
    transform-style: preserve-3d;
    transition: transform 0.5s;
    display: inline-block;

    &.flipped {
        transform: rotate3d(0, 1, 0, 180deg);
    }

    .front {
        @extend %letterbox-side;
        transform: rotate3d(0, 1, 0, 0deg);
    }

    .back {
        @extend %letterbox-side;
        transform: rotate3d(0, 1, 0, 180deg);
    }

    .placeholder {
        display: inline-block;
    }
}

.login {
    input {
        margin-bottom: 5px;
    }

    &.error {
        input {
            color: red;
        }
    }
}

.score {
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
    padding: 5px 0 10px 0;
    line-height: 2ex;

    border-top: 1px solid #999;
    box-shadow: 0 1px 1px .2px white inset;
}
